@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* ash bg */
/* ash-green #e0e8d1 */
/* green  #546e39 */
/* 3003e29 */
/* grey  #c3c7cb */
/* custom red ?
 color: #f02d34; */
/* sharp yellow : #F55D00 */

/* fb background  */

html,
body,
.layout * {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1920px;
  width: 100vw;
  margin: 0 auto;
}

.layout {
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}


.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 90%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
  width: 100%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  top: -4px;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

/* 
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
} */
.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
  max-width: 260px;
  height: 260px;
  max-height: 260px;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
}

.product-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 0 10px #de0505b3;
}
.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  height: 200px;
  width: 250px;
  padding: 10px 0;
  background: transparent;
  max-width: 300px;
  max-height: 300px;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.hero-banner-container {
  margin-top: 1rem;
  padding: 50px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  min-height: 600px;
  height: auto;
  line-height: 0.9;
  width: 100%;
}

.hero-banner-container .small-text {
  font-size: 24px;
}

.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #546e39;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h1 {
  color: white;
  font-size: 7rem;
  text-transform: uppercase;
  font-family: "Gilroy-Bold", sans-serif;
}

.hero-banner-container h3 {
  font-size: 3.5rem;
  margin-top: 4px;
  font-family: "Gilroy-Medium", sans-serif;
}

.hero-banner-container p {
  font-family: "Gilroy-Medium", sans-serif;
}

.hero-banner-image {
  width: 450px;
  height: 450px;
}

.desc {
  width: 400px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.desc p {
  font-size: 20px;
  text-align: end;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-end;
  color: #324d67;
}

.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: #324d67;
}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}
.products-heading p {
  font-size: 16px;
  font-weight: 200;
}

.footer-banner-container {
  padding: 10px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  max-width: 1280px;
  width: 95%;
  height: auto;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 4rem;
  margin: auto;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  will-change: transform;
  transition: all 1s ease-in-out;
  pointer-events: auto;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  border-radius: 8px;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.footer-container {
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.footer-container .icons:hover {
  color: #f02d34;
  transform: scale(1.1);
}

.cartheading-back-btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 15px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  border-radius: 15px;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}

.item-desc .bottom {
  margin-top: 40px;
}

.remove-item,
.close-cart {
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.close-cart {
  font-size: 30px;
}

.remove-item {
  font-size: 24px;
}

.cart-bottom {
  height: 20%;
  position: absolute;
  background-color: #535357;
  bottom: 12px;
  right: 5px;
  width: calc(100% - 5px);
}

.cart-bottom .total {
  display: flex;
  justify-content: space-between;
  color: #546e39;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 8px;
}

.cart-bottom .total h3 {
  font-size: 16px;
}

.payment-btn-container {
  width: 300px;
  margin: auto;
  font-size: 16px;
  padding: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 5px 8px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;
}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: #f02d34;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.selected-image {
  background-color: #f02d34;
}
.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  color: #324d67;
  margin-top: 0px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}
.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.quantity-desc {
  border: 2px solid gray;
  padding: 6px;
  height: 3rem;
}
.quantity-desc span {
  font-size: 16px;
  padding: 10px;
}
.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantity-desc .num {
  font-size: 20px;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
  border-left: 1px solid gray;
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy-now {
  width: 200px;
  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}

.maylike-products-wrapper {
  margin-top: 2rem;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;
  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-qty {
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper,
.cancel-wrapper {
  background-color: white;
  height: 100vh;
  min-height: 60vh;
}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty {
  margin-top: 10px;
}

/* Responsiveness */

/* Media Queries */

@media screen and (min-width: 1025px) {
  .cart-bottom .total {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-banner-container h1 {
    font-size: 3.3rem;
  }
  .hero-banner-container h3 {
    font-size: 2.3rem;
  }

  .hero-info {
    margin-right: 10px;
  }

  .hero-banner-image {
    width: 300px;
    height: 300px;
  }

  .hero-img {
    margin-top: 1rem;
  }

  .cart-bottom .total {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@media screen and (max-width: 921px) {
  .hero-banner-container .hero-info {
    width: 100%;
  }
  .hero-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-banner-container h1 {
    font-size: 4rem;
  }
  .hero-banner-container h3 {
    font-size: 3rem;
  }

  .desc {
    display: none;
  }

  .hero-banner-image {
    width: 250px;
    height: 250px;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }
  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }
  .cart-container {
    width: 60%;
    margin: auto;
    padding: 4px;
  }

  .cartheading-back-btn {
    display: none;
  }

  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }

  .cart-bottom {
    flex-direction:column;
    height: 30%;
    align-items: center;
    padding: 30px;
  }
  
  .cart-bottom .total {
    border-radius: 8px;
  }

  .total h3 {
    font-size: 20px;
  }
  .track {
    animation: marquee 15s linear infinite;
    width: 550%;
  }
  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 769px) {

  .navbar-container .logo {
    margin-left:-1rem;
    }    

  .hero-banner-container .hero-info {
    width: 100%;
  }
  .hero-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-banner-container h1 {
    font-size: 4rem;
  }
  .hero-banner-container h3 {
    font-size: 3rem;
  }

  .hero-banner-container .small-text {
    width: 375px;
  }

  .desc {
    display: none;
  }

  .hero-banner-image {
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    max-height: 250px;
    padding-bottom: 0;
  }

  .cart-container {
    width: 70%;
    margin: auto;
  }
  .payment-btn-container {
    display: flex;
    height: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 421px) {
  .hero-banner-container h1 {
    font-size: 2.5rem;
  }
  .hero-banner-container h3 {
    font-size: 1.5rem;
  }

  .product-card {
    width: 160px;
  }

  .product-image {
    width: 130px;
    height: 120px;
  }

  .product-name {
    text-align: center;
    font-weight: 200;
    max-width: 150px;
    overflow-x: hidden;
  }
  .product-price {
    font-weight: 500;
    max-width: 150px;
  }

  .products-heading h2 {
    font-size: 30px;
    font-weight: 800;
  }

  .buttons .add-to-cart {
    width: 120px;
    padding: 5px 10px;
  }

  .buttons .buy-now {
    width: 100px;
    padding: 5px 10px;
  }
  .cart-wrapper {
    width: 100vw;
    margin-right: 0;
  }

  .cart-container {
    width: 100%;
    margin: auto;
    margin-right: 0;
  }

  .payment-btn-container {
    display: flex;
    width:100%;
    justify-content: center;
  }

  .payment-btn-container .btn {
    display: block;
    width: 80%;
    max-width: 250px;
    margin: auto;
    margin-top: 20px;
    margin-right: 20px;
  }
}
